name: Build and push docker image

on:
  push:
    tags: 'r-*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      tag:
        description: 'docker image tag'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Determine image tag
        id: tag
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "TAG=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
          else
            FULL_TAG="${{ github.event.ref_name }}"
            IMAGE_TAG="${FULL_TAG#*-}"
            IMAGE_TAG="${IMAGE_TAG%%-*}"
            echo "TAG=${IMAGE_TAG}" >> $GITHUB_ENV
          fi

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push to docker
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: false
          tags: mauricemueller/postgres-java:latest, mauricemueller/postgres-java:${{ env.TAG }}