name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main", "AERIE-404-postgres-jdk-image" ]  # TODO: remove branch from action

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get current date
        id: date
        run: |
          echo "date=$(date +'%Y%m')" >> $GITHUB_OUTPUT

      - name: Get latest release tag
        id: release
        run: |
          # Fetch tags
          git fetch --tags
          # Get the latest tag, fallback to 'trixie-18-jdk-25' if no tags exist
          LATEST_TAG=$(git describe --tags $(git rev-list --tags --max-count=1) 2>/dev/null || echo "trixie-18-jdk-25")
          echo "tag=$LATEST_TAG" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: mauricemueller/postgres-java
          tags: |
            type=raw,value=latest
            type=raw,value=${{ steps.release.outputs.tag }}-${{ steps.date.outputs.date }}

      - name: Build and push to docker
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}