name: Build docker image

# Controls when the workflow will run
on:
  push:
    branches:
      - '**'
      - '!main'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: mauricemueller/postgres-java:latest
