name: Build docker image

# Controls when the workflow will run
on:
  push:
    branches: [ "AERIE-404-postgres-jdk-image" ]

  workflow_dispatch:
    inputs:
      tag:
        description: 'docker image tag'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine image tag
        id: tag
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "TAG=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
          else
            echo "TAG=${{ github.event.ref_name }}" >> $GITHUB_ENV
          fi

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push to docker
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: false
          tags: mauricemueller/postgres-java:latest, mauricemueller/postgres-java:${{ inputs.tag }}