name: Build docker image

# Controls when the workflow will run
on:
  push:
    tags:
      - '*'
    branches: [ "main", "AERIE-404-postgres-jdk-image" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get current date
        id: date
        run: |
          echo "DATE=$(date +'%Y%m')" >> $GITHUB_ENV

      - name: Get latest release tag
        id: release
        run: |
          echo "TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Build and push to docker
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: false
          image: mauricemueller/postgres-java
          tags: latest, ${{ env.TAG }}-${{ env.DATE }}